* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    margin-top: 1.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

/* top */

.title {
    background-color: #6495ED;
    color: white;
    min-height: 5vh;
    padding: 5px;
    font-size: 2rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.top {
    padding: 1rem;
    font-size: 1rem;
}

.add-contact {
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5px;
}

#add-contact-button {
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    padding: 10px;
}

#add-contact-button:hover {
    background-color: #38c961;
    color: white;
    border: none;
}

#name-input,
#email-input {
    width: 15%;
}

#office-input {
    width: 5%;
}

#add-contact-button {
    padding: 2px;
}

/* Bottom */



table {
    text-align: center;
    position: fixed;
    box-sizing: border-box;
}

th {
    padding: 3.5px;
    text-align: center;
    border-bottom: solid #6495ED;
}

td {
    border-bottom: solid 1px;
    border-bottom-color: grey;
    padding-top: 5px;
    padding-bottom: 5px;
}

#table-name,
#table-email {
    width: 37%;
}

#table-position,
#table-office {
    width: 10%;
}

.deleteBtn{
    font-size: 1.2rem;
    padding: 2px;
    background: red;
    color: white;
    border: none;
}

.editBtn {
    font-size: 1.2rem;
    padding: 2px;
    background: #3cd467;
    color: white;
    border: none;
}

.fa-user-times,
.fa-user-edit {
    pointer-events: none;
}






























